#infoLayer{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "one two"
    "three four";
}

#quadOne{
    grid-area: "one";
    background-color: transparent;
}

#quadTwo{
    grid-area: "two";
    background-color: transparent;

    text-align: right;
}

#quadThree{
    grid-area: "three";
    background-color: transparent;
}

#quadFour{
    grid-area: "four";
    background-color: transparent;
    
    text-align: right;
}