/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */

html {
  background-image : url('Photos/Temp_Default.jpg');
  background-color: #333;
  min-width: 100%;
  min-height: 100%;
}

body {
  color: #fff;
  background-color: rgba(0,0,0,0);
  min-width:99%;
  min-height: 99%;
  text-align: center;
}

#layer1 {
  position: absolute;
  top : 0;
  left : 0;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index: -1;
  font-size:2em;
}

#layer1 #gridBase{
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  position : relative;
}

#gridBase #topLeftQuadrant{
  position: absolute;
  text-align: left;
  top : 0px;
  left : 0px;
}

#gridBase #topRightQuadrant{
  position: absolute;
  text-align: right;
  top : 0px;
  right : 0px;
}

#gridBase #bottomLeftQuadrant{
  position: absolute;
  text-align: left;
  bottom: 0px;
  left : 0px;
}

#gridBase #bottomRightQuadrant{
  position: absolute;
  text-align: right;
  bottom: 0px;
  right: 0px;
}

#layer2{
pointer-events: none;
position: absolute;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
min-height: 100%;
overflow: hidden;
}


.jumbotron{
pointer-events: all;
margin : 10% 25% 25% 25%;
padding : 0%;
background-color: rgba(0,0,0,0);
}

#query{
  font-size: 3em;
  font-family: cursive, courier;
  width: 75%;
  background-color: rgba(0,0,0,0);
  border-top : none;
  border-right : none;
  border-left : none;
  outline: none;
  margin: 20px 0px 20px 0px;
  color: white;
  text-align: center;
}

#query::placeholder{
  color: rgba(255,255,255,.2);
}

/*
Settings Page
*/

#settings_container{
    min-height: 100%;
    min-width: 100%;
    padding : 5%;
}

#settings_continer .row{
    text-align: center;
    height : 100%;
}

#settings_container div{
    background-color: rgba(255,255,255,.0);
    margin : 15px;
}

#settings_container #left{
  text-align: right;
  border-right : solid 5px white;
  min-height: 100%;
}

#settings_container #left h2{
  padding-right: 5%;
}

#settings_container #right{
  text-align: left;
  padding: 50px;
}

#settings_container #instructions{
  font-size: 1.25em;
}

#settings_container #right label{
  width: 15%;
  text-align: right;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1.25em;
}

legend{
  color: white;
  padding-top: 100px;
}

input, textarea, select, option{
    font-size: 1.25em;
    font-family: cursive, courier;
    width: auto;
    background-color: rgba(0,0,0,0);
    border-top : none;
    border-right : none;
    border-left : none;
    outline: none;
    margin: 20px 0px 20px 0px;
    color: white;
    text-align: left;
}
